<br>
</br>
<form action="/quizes/answer" method="get">
		Pregunta: <%- pregunta %> <p>
		<textarea rows="4" cols="50" name="respuesta" placeholder="Responda aquí"></textarea>
		<br>
		</br>
		<input type="submit" value="Enviar">
</form>